@import 'colors';

.color-dot {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.color-untapped {
  display: inline-block;
  width: 1.4rem;
  height: 2rem;
  border-radius: 5%;
  border: solid rgb(21, 11, 0) 0.15rem;
}

.color-tapped {
  display: inline-block;
  width: 2rem;
  height: 1.4rem;
  border-radius: 5%;
  border: solid rgb(21, 11, 0) 0.15rem;
}

.stack {
  display: inline-flex;
  position: relative;
  align-items: center;
}

.noCards {
  border: dashed rgb(21, 11, 0) 0.15rem;
  color: transparent;
  background-color: transparent !important;
  background: none !important;
}

.second {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
}

.third {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
}

.moreThan3 {
  color: gray;
  font-weight: 900;
  margin-left: 0.5rem;
  font-size: 1.25rem;
  width: 2rem;
}
