$red: #f44336;
$blue: #2196f3;
$white: #eeeeee;
$black: #323232;
$green: #4caf50;
$grey: #bdbdbd;

.red {
  background-color: $red;
}

.blue {
  background-color: $blue;
}
.white {
  background-color: $white;
  border: 0.5px solid $grey;
}
.black {
  background-color: $black;
}
.green {
  background-color: $green;
}
.colorless {
  background-color: $grey;
}
