// $red: #f44336;
// $blue: #2196f3;
// $white: #eeeeee;
// $black: #323232;
// $green: #4caf50;
// $grey: #bdbdbd;
$red: rgb(211, 32, 42);
$blue: rgb(14, 104, 171);
$white: rgb(248, 231, 185);
$black: rgb(100, 90, 85);
$green: rgb(0, 115, 62);
$grey: rgb(217, 213, 212);

.red {
  background-color: $red;
}

.blue {
  background-color: $blue;
}
.white {
  background-color: $white;
}
.black {
  background-color: $black;
}
.green {
  background-color: $green;
}
.colorless {
  background-color: $grey;
}
