
.color-btn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
.white {
  background-color: ivory;
  border: 0.5px solid grey;
}
.black {
  background-color: black;
}
.green {
  background-color: green;
}
.colorless {
  background-color: grey;
}
